<div id="epoxy-todo-app">
  <b>What do you need to do?</b>
  <p>
    <input type="text" class="todo-add">
    <button class="add">Add</button>
  </p>
  <ul class="todos" data-bind="collection:$collection"></ul>
  <button class="cleanup">Clear complete</button>
</div>